.login-view{
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 100%;
}

.header-login{
  background-color: red;
  position: relative;
  padding: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.title-login{
  color: white;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  margin-left: 12px;
}

.container-logo-login{
  background-color: yellow;
  width: 45%;
}

.logo-login{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.login-form{
    background-color:rgba(241, 241, 241, 1);
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 200px;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    border-radius: 20px;

}
.container-form-login{
    background-color: green;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-login{
    width: 343px;
    height: 52px;
    border: 1px solid black;
}
.btn-login-submit{
    border-radius: 20px;
    width: 343px;

}