.login-view{
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 100%;
}

.header-login{
  background-color: red;
  position: relative;
  padding: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.title-login{
  color: white;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  margin-left: 12px;
}

.container-logo-login{
  background-color: yellow;
  width: 45%;
}

.logo-login{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}