.register-view {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}

.header-register {
    /* background-color: red; */
    position: relative;
    padding: 40px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.title-register {
    color: white;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    margin-left: 12px;
}

.container-logo-register {
    background-color: rgba(255, 179, 71, 1);
    width: 45%;
    border-radius: 2px;
}

.logo-register {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.register-form {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    border-radius: 8px;
    align-items: center;
    padding: 4%;
}

.container-form-register {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.input-register {
    width: 100%;
    height: 52px;
    border: 1px solid black;
    padding: 0% 0% 0% 1.5%;
    border-radius: 6px;
}

.btn-register-submit {
    background-color: rgba(255, 179, 71, 1);
    color: white;
    width: 100%;
    height:16%;
}

.container-register-login {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    height: 20%;
    width: 95%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.text-span-register {
    color: white;
}

.link-to-login {
    text-decoration-line: underline;
}