.wall-view {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
}

.header-wall {
  /* background-color: red; */
  position: relative;
  padding: 40px;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.title-wall {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  margin-left: 12px;
}

.container-logo-wall {
  background-color: rgba(255, 179, 71, 1);
  width: 45%;
}

.logo-wall {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.container-wall {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}

.container-notes-wall {
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  height: 95%;
  width: 95%;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  gap: 5%;
  overflow: auto;
  flex-wrap: wrap;
  }

/* .btn-all{
    border-radius: 20px;
    height: 52px;
    width: 343px;
    font-size: 18px;
    border: none;
    font-weight: bold;
  }
  .btn-login-google{
    background-color:white;
    color:rgba(255, 179, 71, 1);
  } */
.text-span-wall {
  color: white;
}

.container-logout {
  position: absolute;
  top: 51px;
  right: 40px;
  color:white;
  display: flex;
  flex-direction: column;
}

.btn-add-note{
  background-color: rgba(255, 179, 71, 1);
  padding: 1%;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: none;
  box-shadow: -0.1em 0.1em 0.8em 0.05em #fffff9;
  position: absolute;
  bottom: 60px;
  right: 40px;
}